body{
	color:#545353;
	font-family: 'Fira Sans Condensed', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 3000px;
	background-color: white ;
}
.products-container{
	margin: 0 auto;
	width: 1400px;
}
.row-one{
	margin-top:90px;
}
.product{
	height: 466px;
	width: 466px;
	float: left;
}

.product-hover:hover {
	transition: ease-out .3s;
  transform: scale(1.1);
}
.zanas-container{
	margin: 0 auto;
	width: 1400px;
	height: 460px;
}
.paragraph{
	width: 40%;
	font-size: 20pt;
	float: left;
}
.company{
	padding-left: 65px;
}