body{
	color:#545353;
	font-family: 'Fira Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	max-width: 1300px;
	height: 2000px;;
}
.categories{
	padding-top: 70px;
	/*width: 25%; */
}
.menu-item h4 {
	width: 45%;
  	color: #fff;
	padding: 7px 12px;
	background: #e83930;
}
.menu-item h4 a {
	width: 100%;
	color: white;
	display: block;
	text-decoration: none;
	width: 100%;
}
.menu-item h4 {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.2);
	font-size: 20pt;
	font-weight: 500;
	padding: 7px 12px;
	width: 100%;
	box-sizing: border-box;
}
 
.menu-item ul a {
 	margin-left: 50px;
 	text-decoration: none;
 	color: #aaa;
 	display: block;
 	width: 200px;
}
.menu-item ul li a:hover {
	color: #b81e24;

}
.menu-item li {
	font-size: 20px;
	border-bottom: 3px solid #eee;
	height: 25px;
}
.menu-item ul {
	/*background: #fff;*/
	font-size: 10px;
	line-height: 30px;
	height: 0px; /*Collapses the menu*/
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	transition: all .3s ease-in-out;
}
.products{
	margin: 0 auto;
	width: 79%;
	height: 500px;
	background-color: blue;
	float: right;
	margin-top: 106px;
}
.categories-holder{
	float: left;
}